:root{
    --color-borde-suave: #e6e6e6;
    --color-borde-fuerte: #979797;
    --color-blanco : #ffffff;
    --color-azul: #183378;
    --color-negro: #000000;
}

::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra vertical */
    height: 8px; /* Altura de la barra horizontal */
}

::-webkit-scrollbar-track {
    background: var(--color-borde-suave);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-azul);
    border-radius: 10px; 
}

@font-face {
    font-family: "Sarala-Bold";
    src: url('/assets/fonts/Sarala/Sarala-Bold.ttf') format("truetype");
}

@font-face {
    font-family: "Sarala";
    src: url('/assets/fonts/Sarala/Sarala-Regular.ttf') format("truetype");
}

*{
    font-family: "Sarala";
}

body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

h1 {
    font-family: "Sarala-Bold";
}

main {
    margin: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow-y: hidden;
    height: 100vh;
}

header{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 15px;
    height: 128px;
}

header > h1 {
    margin: 0;
    margin-top: 15px;
    width: 300px;
    font-size: 23px;
    line-height: 1em;
}

header > span {
    margin: 0;
    font-style: italic;
    color: var(--color-borde-fuerte);
}

header > p {
    margin: 0;
}

button:hover{
    cursor: pointer;
    filter: brightness(120%) contrast(80%);
}

/* USER */

article{
    z-index: 99;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px 0;
    width: 25px;
    height: 25px;
    background-color: var(--color-blanco);
    border: solid 2px var(--color-borde-fuerte);
    border-radius: 20px;
    transition-duration: 400ms;
}

#boton-userInfo{
    z-index: 100;
    position: absolute;
    top: 17px;
    right: 20px;
    width: 65px;
    height: 65px;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    border: solid 4px var(--color-azul);
    background-color: var(--color-blanco);
    background-image: url("/assets/UI-user-icon.svg");
    background-size: cover;
    transition-duration: 500ms;
}

.rotate-360 {
    transform: rotateZ(360deg);
}

.userinfo-show{
    display: block;
}

.userinfo-grid{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    animation-name: userInfo;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.userinfo-content-hide{
    transform: translateX(500px);
}

article * {
    opacity: 0%;
    transition-duration: 200ms;
}

article > img {
    grid-column: 1 / 2;
    grid-row: 1/3;
    box-sizing: border-box;
    padding: 10px   ;
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
}

article p {
    margin: 0;
    margin-left: 7px;
}

article p:first-of-type{
    grid-column: 2/3;
    grid-row: 1/2;
    color: var(--color-azul);
}

article p:last-child{
    color: var(--color-borde-fuerte);
    grid-column: 2/3;
    grid-row: 2/3;
}

.userinfo-content-show{
    opacity: 100%;
}

/* TABLA */

.horario-container{
    position: relative;
    margin-top: 30px;
    margin-left: 5vw;
    width: 80%;
    overflow: scroll;
}

#horario-horas{
    z-index: 6;
    position: sticky;
    left: 0;
    margin-top: 32px;
    display: grid;
    width: 80px;
    grid-template-rows: repeat(12, 133px);
    align-items: center;
    background-color: var(--color-blanco);
}

#horario-horas > p{
    margin: 0;
    margin-right: 5px;
    padding: 0;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    text-align: right;
}

#horario-dias{
    z-index: 7;
    position: sticky;
    top: 0;
    right: 99999px;
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    width: 800px;
    padding: 7px 0;
    border-radius: 5px 5px 0 0;
    background-color: var(--color-azul);
    color: var(--color-blanco);
}

#horario-dias > p {
    margin: 0;
    text-align: center;
    font-weight: bold;
}

.horario-calendario {
    position: absolute;
    top: 0;
}

#horario ,#horario-dias {
    margin-left: 100px;
}

#horario {
    width: 800px;
    height: 1650px;
}

table {
    width: 100%;
    height: auto;
    table-layout: fixed;
    border-collapse: collapse;
    box-sizing: border-box;
}

table td {
    margin: 0;
    width: 120px;
    height: 130px;
    border: 1px dotted var(--color-borde-suave);
    color: var(--color-borde-suave);
}

/* MATERIA */

.nodo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    text-transform: capitalize;
    color: var(--color-negro);
}

.nodo p:first-child {
    font-size: 15px;
    margin: 0;
}

.nodo p:nth-child(2) {
    font-size: 12px;
    opacity: 60%;
    margin: 0;
}

.nodo button{
    margin-left: 5px;
    width: 30px;
    height: 30px;
    align-items: center;
    background-color: var(--color-blanco);
    border: none;
    border-radius: 10px;
}

.nodo img {
    margin-top: 2px;
    height: 80%;
    width: auto;
}

/* LISTA DE MATERIAS */


#aside-listaMaterias {
    margin-top: 120px;
    padding: 0 20px;
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    background: var(--color-blanco);
    border: dotted 1px var(--color-borde-fuerte);
    border-radius: 8px;
    transition-duration: 200ms;
}

#aside-listaMaterias > h2 {
    margin-top: 5px;
}

#btnMaterias{
    display: none;
    box-sizing: border-box;
    margin: 15px auto;
    width: 85%;
    height: 10%;
    align-items: center;
    border-radius: 5px;
    border: none;
    background-color: var(--color-azul);
}

#btnMaterias img {
    margin-top: 5px;
    height: 30px;
    filter: invert();
    transition-duration: 500ms;
}

.rotate-180 {
    transform: rotateZ(180deg);
}

#listadoMaterias {
    list-style: none;
    padding: 0;
}

#listadoMaterias button{
    color: var(--color-blanco);
    background-color: var(--color-azul);
    margin-bottom: 10px;
    padding: 6px 12px;
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 8px;
    text-align: left;
}

#listadoMaterias button:disabled{
    color: var(--color-borde-fuerte);
    font-style: italic;
    text-decoration: line-through;
    background-color: var(--color-borde-suave);
}

.ocultar-listaMaterias{
    transform: translateY(-400px);
}

#aside-listaGrupos{
    z-index: 30;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 120px;
    padding: 10px;
    width: 220px;
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    background: var(--color-azul);
    border-radius: 8px;
    transition-duration: 200ms;
}

#aside-listaGrupos button{
    color: var(--color-azul);
    background-color: var(--color-blanco);
    margin-bottom: 10px;
    padding: 6px 12px;
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 8px;
    text-align: left;
}

.ocultar-aside-listaGrupos {
    transform: translateX(-220px);
}

.btnMateriasFlat {
    margin: 8px 0;
    height: 8px;
}


/* ANIMACIONES */

@keyframes userInfo {
    0%{
        width: 25px;
        height: 25px;
    }
    50%{
        width: 340px;
        height: 25px;
    }
    100%{
        width: 340px;
        height: 80px;
    }
}

@keyframes userInfo-responsive {
    0%{
        width: 25px;
        height: 25px;
    }
    50%{
        width: 100vw;
        height: 25px;
    }
    100%{
        width: 100vw;
        height: 100vh;
    }
}

/* MEDIA QUERYS */

@media (max-width: 768px) {
    header{
        display: block;
        position: static;
    }

    header > h1 {
        font-size: 25px;
        line-height: 1em;
    }

    header > p {
        margin-top: 10px;
        font-size: 25px;
    }

    main{
        display: block;
    }


    .horario-container {
        margin-top: 0;
        margin-left: 0;
        width: 100%;
        height: 80%;
    }

    #aside-listaMaterias {
        z-index: 20;
        position: absolute;
        display: block;
        margin-top: 0;
        width: 100vw;
        height: 500px;
        max-height: 500px;
        bottom: -420px;
    }

    #aside-listaGrupos {
        margin-top: 0;
        width: 100vw;
        height: 500px;
        max-height: 500px;
    }

    .ocultar-aside-listaGrupos {
        transform: translateY(510px);
    }

    #btnMaterias{
        display: block;
    }

    #listadoMaterias button {
        width: 70%;
    }

    .userinfo-grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        animation-name: userInfo-responsive;
    }

    .userinfo-content-hide{
        transform: translateX(110vw);
    }

    article {
        margin: 0;
        border: none;
        border-radius: 0px;
        background-color: var(--color-azul);
    }

    article img {
        width: 40vw;
        height: 40vw;
        padding: 0;
        margin: 10px;
        border: solid 10px var(--color-blanco);
    }

    article p {
        margin: 5px 0;
        padding: 5px 15px;
        background-color: var(--color-blanco);
        border-radius: 20px;
    }
}